<launch>
    <arg name="hand_is_left" default="false" />
    <param name="hand" value="$(arg hand_is_left)" />
    <node pkg="hsr_telexistence" type="develop_head_tracking" name="develop_hsr_pantilt_tracking_node" output="screen"/>
    <node pkg="hsr_telexistence" type="develop_arm_control_lmik" name="develop_hsr_arm_control_lmik_node" output="screen"/>
    <node pkg="hsr_telexistence" type="develop_hsr_oculus_controll.py" name="develop_hsr_oculus_control_node" output="screen"/>
    <node pkg="hsr_telexistence" type="develop_save_csv.py" name="develop_listener" output="screen"/>
</launch>